#override-blue{
  color: #337ab7 !important;
}

#override-green{
  color: #5cb85c
}

#override-red{
  color: #d9534f
}

#override-orange{
  color: orange
}

#override-yellow{
  color: #f0ad4e
}

#override-brown{
  color: #8B4513
}
